a {
  color:blue;
  text-decoration:none;
}
#title {
  font-size:30px;
  text-align:left;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}
#nav {
  border-right:1px solid gray;
  margin:0;
  padding:20px;
}
#grid {
  display: grid;
  grid-template-columns: 140px 1fr;
}
#grid ul {
  padding-left:32px;
}
#grid #article {
  padding-left:15px;
}
@media only screen and (max-width:800px){
  #grid {
    display: block;
  }
  #nav {
    border-right:none;
  }
  #title {
    border-bottom:none;
  }
}
